/* Reset some default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #f7bb5f;
    padding: 10px 0;
}

nav {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 60px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

/* Drop down menu */
ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    width: 220px;
    background: #f7bb5f;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover{
    color: white;
}

.dropdown li{
    padding: 5px;
    margin-top: 5px;
}

ul li:hover ul.dropdown{
    display: block;
}

/* About page styles */
.about {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.about h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about p {
    font-size: 16px;
    margin-bottom: 20px;
}

.about-image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.footer-logo img {
    height: 60px;
    margin-bottom: 20px;
}

.footer-logo p{
    font-size: 14px;
    margin-left: 25%;
    margin-right: 25%;
    color: #c0b7b7;
}

.footer-social-media {
    margin-top: 20px;
    text-align: center;
}

.footer-social-links {
    list-style: none;
    display: inline-block;
    padding: 0;
}

.footer-social-links li {
    margin-bottom: 10px;
    margin-right: 20px;
    display: inline-block;
}

.footer-social-links a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.footer-social-links i {
    margin-right: 10px;
    font-size: 24px;
}


.footer-social-media h3{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: -2%;
}

.add p{
    font-size: 14px;
    padding: 2px;
    color: #c0b7b7;
}

.business-hours {
    margin-top: 50px;
}

.business-hours p{
    font-size: 14px;
    padding: 5px;
    color: #c0b7b7;
}

.contact-details {
    margin-top: 50px;
}

.contact-details p{
    font-size: 14px;
    padding: 5px;
    color: #c0b7b7;
}

.footer-links a{
	display:inline-block;
	line-height: 1.8;
    font-weight:400;
	text-decoration: none;
	color:  white;
    padding: 20px;
}

.footer-end{
    background-color: black;
    margin-bottom: -10px;
    margin-top: 25px;
}

.copyright{
    color: #c0b7b7;
    font-size: 14px;
}
